---
layout: default
---
<section class="sec-about">
  <div class="container">
    <div class="row">
      <!-- <h1 class="title">Milinda Pathirage</h1> -->
      <p>
        I am <span class="name">Milinda Pathirage</span>, a computer science PhD candidate interested in fast data management systems and programming abstractions for fast data querying and analytics.
      </p>
    </div>
  </div>
</section>
<section class="sec-articles">
  <div class="container">
    <div class="row">
      <h2>Articles</h2>
      <ul>
        {% for post in site.posts %}
          {% if post.article == true %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<section class="sec-projects">
  <div class="container">
    <div class="row">
      <h2>Projects</h2>
      <p>I used to be a middleware and workflow developer. Now, I work on fast and big data management systems. My projects include: </p>
      <p><strong><a href="https://github.com/milinda/FDBench">FDBench</a>:</strong> Benchmarking suite for fast data management systems.</p>
      <p><strong><a href="https://spidal-gw.dsc.soic.indiana.edu">WebPlotViz</a>:</strong> WebPlotViz is a browser based 3d point cloud viewer that can use in conjunction with dimentionality reduction tools to discover intrinsic structures of high-dimensional data. I implemented the initial prototype and also contributed to the final product.</p>
      <p><strong><a href="https://github.com/milinda/samzasql-hpbdc2016/blob/master/samzasql-hpbdc2016.pdf">SamzaSQL</a>:</strong> Streaming SQL implementation on top of Apache Samza. Apache Calcite is used for query parsing and planning.</p>
      <p><strong><a href="https://analytics.hathitrust.org">HTRC</a>:</strong> Hathitrust Research Center (HTRC) provides services and infrastructre for performing non-consumptive research on Hathitrust corpus. I am working on identity management, security and Docker based deployment automation.</p>
      <p><strong>WSO2 Business Process Server (BPS):</strong> I was the lead developer and product manager for WSO2 BPS from 2009 to 2011.</p>
      <p><strong>Apache ODE:</strong> I did the initial implementation of ODE business process monitoring UI.</p>
      <p><strong>Apache Axis2/C:</strong> I mainly contributed to WSDL2C implementation and also worked on performance improvement.</p>
    </div>
  </div>
</section>
<section class="sec-publications">
  <div class="container">
    <div class="row">
      <h2>Publications</h2>
      <ul>
        <li>Milinda Pathirage, Julian Hyde, Yi Pan, Beth Plale. <strong><a href="https://github.com/milinda/samzasql-hpbdc2016/blob/master/samzasql-hpbdc2016.pdf">"SamzaSQL: Scalable Fast Data Management with Streaming SQL"</a></strong></li>
        <li>Kamburugamuve, Supun, Saliya Ekanayake, Milinda Pathirage, and Geoffrey Fox. <strong><a href="https://www.researchgate.net/profile/Supun_Kamburugamuve/publication/296692116_Towards_High_Performance_Processing_of_Streaming_Data_in_Large_Data_Centers/links/56d8482508aebabdb4092f7a.pdf" target="_blank">Towards High Performance Processing of Streaming Data in Large Data Centers."</a></strong> (2016).</li>
        <li>Pathirage, Milinda, and Beth Plale. <strong><a href="http://arxiv.org/pdf/1511.03935v1.pdf" target="_blank">"Fast Data Management with Distributed Streaming SQL."</a></strong> arXiv preprint arXiv:1511.03935 (2015).</li>
        <li>Eric Holk, Milinda Pathirage, Arun Chauhan, Andrew Lumsdaine, Nicholas D. Matsakis. <strong>"<a href="http://www.cs.indiana.edu/~eholk/papers/hips2013.pdf">GPU Programming in Rust: Implementing High-level Abstractions in a Systems-level Language</a>,"</strong> in <em>18th International Workshop on High-level Parallel Programming Models and Supporting Environments (HIPS)</em>. 2013.</li>
        <li>Milinda Pathirage, Srinath Perera, Indika Kumara, Denis Weerasiri, Sanjiva Weerawarana. <strong>"<a href="http://people.apache.org/~hemapani/research/papers/ode-multi-tenancy.pdf">A Scalable Multi-Tenant Architecture for Business Process Executions</a>,"</strong> in <em>International Journal of Web Services Research (IJWSR)</em>. April 2012.</li>
        <li>Milinda Pathirage, Srinath Perera, Indika Kumara, Sanjiva Weerawarana. <strong>"<a href="http://people.apache.org/~hemapani/research/papers/ode-multi-tenancy.pdf">A Multi-tenant Architecture for Business Process Executions</a>,"</strong> in <em>Proceedings of the 2011 IEEE International Conference on Web Services</em>. 2011.</li>
        <li>Kowalczyk S. T., Y. Sun, Z. Peng, B. Plale, A. Todd, L. Auvil, C. Willis, J. Zeng, M. Pathirage, S. Liyanage. <strong>"Big Data at Scale for Digital Humanities: An Architecture for the HathiTrust Research Center,"</strong> in <em>Big Data Management, Technologies, and Applications, Wen-Chen Hu and Naima Kaabouch (eds)</em>. 2013</li>
        <li>Chandrasekar, K., M. Pathirage, S. Wijeratne, C. Mattocks, and B. Plale. <strong>"Middleware alternatives for storm surge predictions in Windows Azure,"</strong> in <em>3rd Workshop on Scientific Cloud Computing (ScienceCloud ’12) at HPDC ’12</em>. 2012</li>
      </ul>
    </div>
  </div>
</section>

<section class="sec-publications">
  <div class="container">
    <div class="row">
      <h2>Presentations</h2>
      <ul>
        <li><a href="https://github.com/milinda/samzasql-hpbdc2016/blob/master/samzasql-hpbdc2016-presentation.pdf" target="_blank">SamzaSQL: Scalable Fast Data Management with Streaming SQL</a></li>
      </ul>
    </div>
  </div>
</section>
