<nav class="fixed-nav">
    <ul class="clearfix">
        <li id="menu-toggle-parent" class="fadei"><a href="#" class="btn fadei" id="menu-toggle"><span class="fa fa-bars"></span></a>
            <ul id="menu-items" class="fade-out">
                <li><a href="/" class="menu-link"><span class="fa fa-home"></span></a></li>
                <li><a href="https://www.flickr.com/photos/132302713@N02/" class="menu-link"><span class="fa fa-flickr"></span></a></li>
                <li><a href="https://www.linkedin.com/in/milindapathirage" class="menu-link"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="https://github.com/milinda" class="menu-link"><span class="fa fa-github"></span></a></li>
            </ul>
        </li>
    </ul>
</nav>
