<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- This following line is needed in case of using the default easing option or when using another
  one rather than "linear" or "swing". You can also add the full jQuery UI instead of this file if you prefer -->
  <script src="/js/jquery.easings.min.js"></script>
  <!-- This following line needed in the case of using the plugin option `scrollOverflow:true` -->
  <script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="/js/jquery.fullPage.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Concert+One' rel='stylesheet' type='text/css'>
</head>
<body>
{{ content }}
</body>
</html>
